.title {
    padding: 1rem;
}

.product {
    display: flex;
    flex-flow: row;
    padding-bottom: 4vh;
}

.products{
    width: 60vw;
}

.product-img {
    margin-right: 30px;
    width: 170px;
    height: auto;
}

.product-detail {
    margin-right: 110px;
}

.quantity {
    padding: 0 20px;
}

.payment{
    width: 20vw;
}

.payment-card {
    display: inline-block;
    border: 1.5px solid #eee;
    box-shadow: 0 2px 2px #ccc;
    width: 110%;
    padding: 20px;
    margin: 0 5vh;
}

.payment-btn {
    color: white;
    background-color: #3d8e60;
    width: 100%;
    background: linear-gradient(to left, #3d8e60 50%, #23593b 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
}

.payment-btn:hover {
    background-position: left;
}

.total-price {
    font-weight: bold;
}

.remove-product{
    margin-left: 10vh;
}

.remove-btn{
    background-color: transparent;
    border: none;
    transition: transform .25s;
}

.remove-btn:hover{
    color: #23593b;
    background-color: transparent;
    border: none;
    transform: scale(1.3);
}