.footer-container {
    background-color: #23593b;
    color: #fff;
}

.footer-section-1 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 40px;
    align-items: center;
}

.footer-section-2 {
    padding: 20px 0 20px 0;
    justify-content: center;
}

.footer-item {
    text-align: center;
}

.separate-line {
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    height: 150px;
}