.home-section {
    padding: 50px;
    align-items: center;
    justify-content: center;
}

.section-header {
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
}

.section-name {
    font-size: 36px;
    font-weight: 900;
    color: #22564b;
}

.section-description {
    margin-bottom: 20px;
}

.category {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.category-img {
    width: 350px;
    height: 350px;
}

.category-name {
    margin: 20px 0 20px 0;
    font-size: 18px;
    font-weight: 600;
}

.best-sellers {
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 30px;
}

.product-img {
    width: 270px;
    height: 270px;
    margin-bottom: 20px;
}

.product-type {
    color: #22564b;
    font-size: 14px;
}

.product-name {
    font-size: 18px;
    font-weight: 600;
}

.product-price {
    font-size: 16px;
}

.btn-see-more {
    width: 120px;
    height: 40px;
    font-size: 14px;
    background-color: #22564b;
    border: 1px solid #22564b;
    border-radius: 50px;
    color: white;
}

.btn-see-more:hover {
    background-color: #2d8231;
    border: 1px solid #2d8231;
}

.second-section {
    padding: 30px 50px 80px 50px;
    align-items: center;
    justify-content: center;
}