.first-section {
    padding: 80px 50px 30px 50px;
    align-items: center;
    justify-content: center;
}

.section-header {
    text-align: center;
    margin-bottom: 20px;
}

.section-name {
    font-size: 36px;
    font-weight: 800;
    color: #22564b;
}

/* .section-description {
    width: 600px;
} */

.category {
    padding: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.best-sellers {
    padding: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.category-name {
    margin: 20px 0 20px 0;
    font-size: 18px;
}

.product-name {
    margin: 20px 0 20px 0;
    font-size: 18px;
}

.product-img {
    width: inherit;
}

.btn-see-more {
    width: 120px;
    height: 40px;
    font-size: 14px;
    background-color: #22564b;
    border: 1px solid #22564b;
    border-radius: 50px;
    color: white;
}

.btn-see-more:hover {
    background-color: #2d8231;
    border: 1px solid #2d8231;
}

.second-section {
    padding: 30px 50px 80px 50px;
    align-items: center;
    justify-content: center;
}