* {
    outline: 0;
}

.title {
    margin-bottom: 50px;
}

.body-signup{
    background-image: url('../images/bg_login.jpg');
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center center; 
}

input {
    display: block;
    min-width: 100%;
    margin: 1em 0;
    padding: 1em;
    width: fit-content;
    border-radius: 8px;
    border-style: none;
    border: 1px solid #e4e6e8;
    transition: 0.1s ease;
}

input:hover {
    border-color: #23593b;
}

button {
    margin: 1em 0;
    padding: 0.5em 1em;
    border: 1px solid #e4e6e8;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.1s ease-in;
    width: fit-content;
}

button:hover {
    background-color: #23593b;
    color: white;
}

.forgetPass {
    color: #23593b;
    font-weight: bolder;
    text-decoration: none;
}

.forgetPass:hover {
    color: #23593b;
    text-decoration: underline;
}

.register {
    color: black;
}

.register:hover {
    color: #23593b;
}